@import '../../main.scss';
.error_container{
    color: $color-primary;
    @include display-flex-centered;
    flex-direction: column;


    gap:113px;
    @include breakpoint-small {
        gap:39px;
    }
    &_404{
        font-size: 96px;
        font-weight: 700;
        @include display-flex-centered;
        @include breakpoint-small {
            font-size: 288px;
        }
    }
    &_text{
        @include display-flex-centered;
        text-align: center;
        font-size: 18px;
        @include breakpoint-small {
            font-size: 36px;
        }
    }
    &_home{
        color:$color-primary;
        @include display-flex-centered;
        text-decoration: underline;
        font-size: 14px;
        @include breakpoint-small {
            font-size: 18px;
        }
    }
}