.error_container{
    color:#ff6060;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:113px;
    @media screen and (min-width:768px) {
        gap:39px;
    }
    &_404{
        font-size: 96px;
        font-weight: 700;
        justify-content: inherit;
        display: inherit;
        @media screen and (min-width:768px) {
            font-size: 288px;
        }
    }
    &_text{
        display:inherit;
        justify-content: inherit;
        text-align: center;
        font-size: 18px;
        @media screen and (min-width:768px) {
            font-size: 36px;
        }
    }
    &_home{
        color:inherit;
        display:inherit;
        justify-content: inherit;
        text-decoration: underline;
        font-size: 14px;
        @media screen and (min-width:768px) {
            font-size: 18px;
        }
    }
}