 @import '../../main.scss';
.Apt_home{
    @include breakpoint-small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 40px;
        background: $color-tertiary;
        padding: 50px;
        border-radius: 25px;
        margin-bottom: 40px;
    }
    @include breakpoint-large {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 50px;
        background: $color-tertiary;
        padding: 50px;
        border-radius: 25px;
        margin-bottom: 40px;
    }
}