@import '../../main.scss';
.info-host{
    display:flex;
    align-items: center;
    .name-host{
        color: $color-secondary;
        font-size: 12px;
        margin-right: 10px;
        text-align: right;
        @include breakpoint-small {
            font-size: 18px;
        }
    }
    .picture-host{
            border-radius: 50%;
            height: 32px;
            object-fit: cover;
            width: 32px;
            @include breakpoint-small {
                height:64px;
                width: 64px;
            }
        }
    
}