.info-host{
    display:flex;
    align-items: center;
    .name-host{
        color:#ff6060;
        font-size: 12px;
        margin-right: 10px;
        text-align: right;
        @media (min-width: 769px) {
            font-size: 18px;
        }
    }
    .picture-host{
            border-radius: 50%;
            height: 32px;
            object-fit: cover;
            width: 32px;
            @media (min-width: 769px) {
                height:64px;
                width: 64px;
            }
        }
    
}