@import '../../main.scss';
.footer{

    height: 209px;
    background-color: $footer-color;
    @include display-flex-centered;
    flex-direction: column;
    text-align: center;
    margin-top:27px;
    @include breakpoint-small {
        margin-top:50px;
    }
    &_logo {
        margin-top: 2%;
        width: 122px;
        height: 40px;
      }
    &_text-copyright {
        color:$color-secondary;
        padding: 29px;
        font-size: 12px;
        @include breakpoint-small {
            font-size: 24px;
        }
    }
}