@import '../../main.scss';
.nav-header{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    @include breakpoint-small{
        text-transform: none;
        font-size: 24px;
    }
    .nav-header_home-on, .nav-header_about-on{
        color:$color-primary;
        text-decoration: underline;
        margin-left:3rem;
    }
    .nav-header_home-off, .nav-header_about-off{
        color:$color-primary;
        text-decoration: none;
        margin-left:3rem;
        &:hover{
            text-decoration-line: underline;
          }
    }
}